// app global css
.doc-note {
    background-color: #eee;
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px 24px;
    font-size: 1em;
    border-width: 0 5px 0;
    border-style: solid;
    border-color: #9e9e9e;
    letter-spacing: 0.5px;
}
doc-note--tip {
    background-color: #c1f4cd;
    border-color: #21ba45;
}